/* Container for the Register page */
.registerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.registerTitle {
  font-size: 24px;
  font-weight: bold;
  color: #a77e3e; /* Brown color for title */
  margin-bottom: 20px;
}

/* Input section styling */
.inputSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 300px;
}

.inputLabel {
  font-size: 14px;
  color: #666;
  margin-bottom: 5px;
  align-self: flex-start;
}

/* Styling for text inputs */
.input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

/* Error message styling */
.errorMessage {
  color: red;
  font-size: 12px;
  margin-top: -10px;
  margin-bottom: 15px;
}

/* Styling for submit button */
.submitButton {
  padding: 10px 20px;
  background-color: #a77e3e;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
